.row-map-mobile-list.poland
    .col-full-list
        .head-view
            h2 Obiekty otwarte:
        .elements-view
            each el in polandGroup.open
                .ev-element(class=el.status)
                    h5 !{el.name}
                    .desc-address !{el.address}
                    a(href=el.url target="_blank")
        .head-view
            h2 Inwestycje planowane:
        .elements-view
            each el in polandGroup.plan
              .ev-element(class=el.status)
                  h5 !{el.name}
                  .desc-address !{el.address}
                  a(href=el.url target="_blank")
