.row-map.row-warsaw(ng-controller='AboutWarsawMapsController' ng-model='data' ng-init="data='';initData()")
    .col-map
        img.img-fluid(src='/images/warsaw_map.svg' ng-click='hideAll()')
        each el,i in warsawMap
            if (el.type === 'single')
                .point-invest(
                    class=el.status + ' '+ el.size
                    style='left: '+el.left+';top: '+el.top
                    ng-model='classes['+el.key+']'
                    ng-click='showCloud('+el.key+')'
                    )
                if (el.openTo === 'top')
                    .cloud.hidden-cloud(
                        class="c-" + el.status + ' open-to-' + el.openTo + ' [[classes[' + el.key + '].zIndexMore]]'
                        style="left: " + el.cloudLeft + ";top:" + el.cloudTopBottom + ';'
                        ng-class="classes[" + el.key + "].visibleCloud"
                    )
                        h5 !{el.name}
                        .address-cloud.small-cloud(ng-class="classes[" + el.key + "].sizeCloud") !{el.address}
                        a(
                            href=el.url
                            target="_blank"
                            ng-mouseover="showFullCloud(" + el.key + ")"
                            ng-mouseleave="hideFullCloud(" + el.key + ")"
                        )
                else
                    .cloud.hidden-cloud(
                        class="c-" + el.status + ' open-to-' + el.openTo + ' [[classes[' + el.key + '].zIndexMore]]'
                        style="left: " + el.cloudLeft + ";bottom:" + el.cloudTopBottom + ';'
                        ng-class="classes[" + el.key + "].visibleCloud"
                    )
                        h5 !{el.name}
                        .address-cloud.small-cloud(ng-class="classes[" + el.key + "].sizeCloud") !{el.address}
                        a(
                            href=el.url
                            target="_blank"
                            ng-mouseover="showFullCloud(" + el.key + ")"
                            ng-mouseleave="hideFullCloud(" + el.key + ")"
                        )
            else
                - let cloudsString = [];
                - el.childs.forEach((value) => {
                    - cloudsString.push(value)
                - });
                - cloudsString.join(',');
                .point-invest(
                    class=el.status + ' ' + el.size
                    style='left: ' + el.left + ';top: ' + el.top +';'
                    ng-model='classes[' + el.key + ']'
                    ng-click='showCloud(' + cloudString + ',' + el.key + ')'
                )
                each child,j in el.childs
                    if (child.openTo === 'top')
                        .cloud.hidden-cloud(
                            class="c-" + child.status + ' open-to-' + child.openTo + ' [[classes["' + el.key + '"].clouds[' + child.key + '].zIndexMore]]'
                            style="left: " + child.cloudLeft + ";top:" + child.cloudTopBottom + ';'
                            ng-class="classes['" + el.key + "'].clouds[" + child.key + "].visibleCloud"
                        )
                            h5 !{child.name}
                            .address-cloud.small-cloud(ng-class="classes['" + el.key + "'].clouds[" + child.key + "].sizeCloud") !{child.address}
                            a(
                                href=child.url
                                target="_blank"
                                ng-mouseover="showFullClouds(" + child.key + ",'" + el.key + "')"
                                ng-mouseleave="hideFullClouds(" + child.key + ",'" + el.key + "')"
                            )
                    else
                        .cloud.hidden-cloud(
                            class="c-" + child.status + ' open-to-' + child.openTo + ' [[classes["' + el.key + '"].clouds[' + child.key + '].zIndexMore]]'
                            style="left: " + child.cloudLeft + ";bottom:" + child.cloudTopBottom + ';'
                            ng-class="classes['" + el.key + "'].clouds[" + child.key + "].visibleCloud"
                        )
                            h5 !{child.name}
                            .address-cloud.small-cloud(ng-class="classes['" + el.key + "'].clouds[" + child.key + "].sizeCloud") !{child.address}
                            a(
                                href=child.url
                                target="_blank"
                                ng-mouseover="showFullClouds(" + child.key + ",'" + el.key + "')"
                                ng-mouseleave="hideFullClouds(" + child.key + ",'" + el.key + "')"
                            )
    .col-info
        .row-info
            .col-icon
                img.img-fluid(src='/images/icons/warsaw/map_icon_tower.svg' alt='')
            .col-desc
                h3.nr 660
                .nr-desc sprzedanych mieszka&nacute;
        .row-info
            .col-icon
                img.img.fluid(src='/images/icons/warsaw/map_icon_warsaw.svg' alt='')
            .col-desc
                h3.nr
                    span.nr-lower inwestycje w
                    | 5
                .nr-desc dzielnicach Warszawy
        .row-info
            .col-icon
                img.img.fluid(src='/images/icons/warsaw/map_icon_lublin.svg' alt='')
            .col-desc
                h3.nr
                    | 2
                    span.nr-lower inwestycje w
                .nr-desc Lublinie


